#splash{
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background-image: linear-gradient(#7d11ff, #c37fef);
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.3s;
}
#biglogo{
	margin: 32.3vh auto 1vh;
	aspect-ratio: 861 / 1052;
	width: 27.3vh;
	max-width: 90%;
	background: url('../imgs/biglogo.png') 50% 100% no-repeat;
	background-size: contain;
}
#loading{
	line-height: 1vh;
	text-align: center;
}
#loading .ball{
	width: 0.7vh;
	height: 0.7vh;
	display: inline-block;
	margin: 0 0.4vh;
	background-color: #c2c2ff;
	border-radius: 50%;
}
.ball1{
	animation: balls 1s infinite;
}
.ball2{
	animation: balls 1s 0.25s infinite;
}
.ball3{
	animation: balls 1s 0.5s infinite;
}
@keyframes balls {
  0%   {background-color: #c2c2ff;}
  25%  {background-color: #7d11ff;}
  50%  {background-color: #c2c2ff;}
}