body{
	margin: 0;
	padding: 0;
	border: 0;
	font: 18px/24px 'Roboto', sans-serif;
	color: #6400b2;
	/* background: linear-gradient(90deg, #ffffff 0%, #ffffff 850px, #b98af5 110%); */
}
body.loading{
	overflow: hidden;
}
em{
	font-weight: 500;
	font-weight: 300;
}
strong{
	color: #333333;
}
header{
	display: block;
	background-color: #c37fef;
	background: linear-gradient(180deg, #aaa4ff 0%, #c37fef 100%);
	min-height: 200px;
	padding-top: 20px;
}
#top-bg{
	position: absolute;
	background: linear-gradient(180deg, #aaa4ff 0%, #b98af5 100%);
	top: 0;
	height: 260px;
	width: 100%;
	z-index: -1;
}
.logo{
	max-width: 281px;
	min-width: 100px;
	width: 25%;
	display: block;
	margin-left: 5%;
}
.header{
	width: calc(100% + 1px);
	margin-left: -1px;
	margin-bottom: -16px;
}
.mother{
	padding: 0.5em;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.desktop{
	width: 100%;
	/* background: linear-gradient(180deg, #aaa4ff 0%, #b98af5 260px, #ffffff 260px, #ffffff 100%); */
}

section.tweet{
	display: block;
	max-width: 600px;
	margin: 48px auto;
	border-radius: 150px 150px 150px 0;
	background-color: #ffffff;
	box-shadow: 7px 7px 10px #daa5ea;
}
.tweeticon{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}
.tweeticon img{
	width: 100%;
}
.tweetbody{
	width: 60%;
	display: inline-block;
	vertical-align: middle;
	padding: 3%;
}
.tweetaction{
	width: 20px;
	margin-right: 30px;
}
h1{
	font-family: 'Calistoga', serif;
	font-size: 2.5em;
	line-height: 1em;
	color: #6400b2;
	margin-bottom: 0.2em;
	margin-top: 0;
	font-weight: 400;
}
h2{
	font-family: 'Calistoga', serif;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1.1em;
	color: #6400b2;
	font-weight: 400;
}
.colorblock{
	position: relative;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.dark-purple{
	background-color: #6400b2;
}
.light-purple{
	background-color: #c37fef;
}
.almost-white{
	background-color: #e1bff7;
}
.yellow{
	background-color: #ffe566;
}
.orange{
	background-color: #fecb59
}
ul{
	list-style: none;
	padding-left: 5px;
}
ul li::before{
	content: "\2764";
	color: #fecb59;
	padding-right: 0.25em;
	margin-left: -1.25em;
}
ul li{
	padding-left: 1em;
}
.textlabel{
	display: block;
	font-size: 0.9em;
	font-weight: bold;
}
input[type=text], input[type=number], textarea{
	display: block;
	width: 100%;
	max-width: 400px;
	margin-bottom: 0.5em;
	font: 18px/24px 'Source Sans Pro', sans-serif;
	color: #333333;
	background-color: #ffffff;
	padding: 0.25em;
	border: 1px solid #333;
	border-radius: 12px;
	padding: 2px 12px;
}
input[name=amnt]{
	display: inline!important;
	width: auto!important;
	height: 30px;
	width: 120px!important;
}
input[disabled=disabled]{
	cursor: not-allowed;
	background-color: #f4ebfd;
}
input[type=checkbox]{
	opacity: 0;
	cursor: pointer;
	position: absolute;
}
.fakecheck{
	height: 24px;
	width: 24px;
	background-color: transparent;
	border: 2px solid #333333;
}
.js{
	display: none;
}
.blackout{
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: rgba(0,0,0,0.8);
	display: none;
}
.blackout-text{
	background-color: #FFF;
	position: relative;
	top: 40px;
	padding: 1em;
	opacity: 0.01;
	transition: opacity 2s;
	width: 25%;
	min-width: 300px;
	margin: 0 auto;
}

footer {
	margin-top: 1.5em;
}

.footer-toe{
	height: 55px;
	width: 50%;
	max-width: 210px;
	min-width: 120px;
	margin: 0 auto;
	border-radius: 60px 60px 0 0;
	background: #aaa4ff url('./img/footer_heart.png') no-repeat 50% 12px;
}
.footer-heel{
	background-color: #aaa4ff;
	color: #ffffff;
	padding: 12px;
}
footer p{
	margin-top: 0;
}
footer a{
	color: #ffe566;
	font-weight: 500;
}
p.center{
	text-align: center;
}
#credit-card-btn{
	background-color: #6400b2;
	color: #ffe566;
	cursor: pointer;
	border: 1px solid #6400b2;
	border-radius: 12px;
	padding: 6px 24px;
	font-weight: 500;
	font-size: 24px;
	margin: 36px auto;
	display: block;
}
.hosted-field{
	height: 40px;
	padding: 2px 12px;
	border: 1px solid #333;
	margin-bottom: 20px;
	border-radius: 12px;
}
.wrapper{
	white-space: nowrap;
}